a.reset, a.reset:hover {
  text-decoration: none;
}

textarea.reset {
  border: none;
  outline: none;
  resize: none;
}

.dn-error {
  color: #fa023c;
}

.margin-right-2 {
    margin-right: 2px;
}
  
.margin-right-10 {
    margin-right: 10px;
}