@import './dn-common';
@import './dn-modal-window';
@import url(https://fonts.googleapis.com/css?family=Barlow+Condensed:600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

@mixin rating-vertical-sort {
  .rate-1 {
    order: 4;
  }
  .rate-2 {
    order: 2;
  }
  .rate-3 {
    order: 5;
  }
  .rate-4 {
    order: 3;
  }
  .rate-5 {
    order: 1;
  }
}

.submit-review {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;

  .fa-star {
    color: #c4c4c4;
  }
  .fa-star.active {
    color: #F3DB04;
  }

  &.desktop {
    &.dn-modal-window {
      background: #F3F3F3;
      width: 700px;
    }
  }

  &.dn-modal-window {

    display: flex;
    flex-direction: column;
    justify-content: stretch;

    &.mobile {
      height: 100vh;
      width: 100%;
    }
  }

  .mobile-header {
    display: block;
    font-weight: bold;
    padding: 0 0 10px;
  }

  .dn-modal-body {
    padding: 15px 25px 0;
    flex-grow: 2;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  &.mobile {
    .step-1 {
      height: 100%;

      .rate-btn {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        font-size: 120%;
      }

      @media (max-width: 560px) {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        justify-content: stretch;

        .rate-btn {
          width: 100%;
          margin: 5% 0 5%;
        }

        .rate-btn:last-child {
          margin-bottom: 7px;
        }
      }

      @media (min-width: 561px) {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .rate-btn {
          width: 47%;
          font-size: 3vw;
        }

        @include rating-vertical-sort;
      }
    }
  }

  &.desktop {
    .step-1 {
      display: flex;
      flex-direction: row;
      padding: 0 10px 10px 10px;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;

      .rate-btn {
        width: 47%;
      }

      @media (min-width: 701px) {
        height: 210px;
      }

      @media (max-width: 510px) {
        .rate-btn {
          width: 100%;
        }
      }

      @media (min-width: 510px) {
        @include rating-vertical-sort;
      }
    }
  }

  &.mobile {
    .step-1 {
      .rate-btn {
        background: #F9F9F9;
      }
    }
  }

  .step-1 {
    .rate-btn {
      background: #F9F9F9;
      padding: 5px 0 5px 25px;
      margin: 10px 0 10px;
      min-width: 220px;
      color: #494949;
      cursor: pointer;
      border: 2px solid transparent;
      box-shadow: 0px 0px 8px rgba(73, 73, 73, 0.5);
      border-radius: 5px;
      display: flex;
      align-items: center;
    }

    .rate-btn:hover, .rate-btn.rate-btn-selected {
      border: 2px solid;
      text-shadow:0px 0px 1px black;
      color: black;
    }
  }


  .step-2 {
    padding: 10px 10px 0 10px;
    margin-bottom: 15px;
    flex-grow: 2;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    height: auto;
    flex-direction: row;

    @media (max-width: 460px) {
      margin-bottom: 7px;
    }
    @media (min-width: 461px) {
      margin-bottom: 15px;
    }

    .upload-area {
      background: #F9F9F9;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      border: 2px solid transparent;

      .upload-icon {
        display: block;
      }

      .upload-text {
        padding: 10px 20px 0;
        font-size: 0.8em;
        font-weight: bold;
        text-align: center;
      }

      .upload-btn {
        margin: 15px 0 0;
        padding: 5px 25px;
        background: #75E275;
        color: #313131;
        font-size: 0.9em;
      }

      &:hover {
        border: 2px dashed #c4c4c4;
      }

      .chosen-photo-txt {
        font-size: 0.9em;
        color: #494949;
        padding-top: 10px;
      }
    }
  }

  &.desktop {
    .step-2 {
      height: 200px;
    }
  }

  &.mobile {
    .step-2 {
      .upload-area .upload-text {
        display: none;
      }
    }
  }

  .step-3 {
    padding: 10px 0 0;
    flex-grow: 2;
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    @media (max-width: 460px) {
      margin-bottom: 7px;
    }
    @media (min-width: 461px) {
      margin-bottom: 15px;
    }

    textarea {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      box-shadow: 0px 0px 8px rgba(73, 73, 73, 0.5);
      padding: 30px;
      background-color: #f9f9f9;
      display: block;
    }
  }

  &.desktop {
    .step-3 {
      height: 200px;
    }
  }

  &.desktop {
    .step-4 {
      form {
        flex-direction: column;

        @media (min-width: 703px) {
          height: 220px;
          flex-wrap: wrap;

          .column-1 {
            margin-right: 40px;
          }
        }

        @media (min-width: 703px) and (max-width: 767px) {
          .column-1 {
            width: calc(100% - 340px);
          }
          .column-2 {
            width: 300px;
          }
        }

        @media (min-width: 768px) {
          .scaled-captcha {
            transform: scale(0.9);
            left: -17px;
            position: relative;
          }

          .column-1 {
            margin-right: 40px;
          }

          .column-2 {
            margin-right: 32px;
            width: 268px;
          }
        }
      }
    }
  }

  &.mobile {
    .step-4 {
      form {
        flex-direction: row;

        .dn-vertical-input {
          input {
            background: #F9F9F9;
          }
        }

        @media (min-width: 631px) {
          justify-content: space-between;

          .column-1 {
            width: 45%;
          }

          .column-2 {
            min-width: 300px;
            width: 45%;
          }
        }

        @media (max-width: 630px) {
          flex-direction: column;
        }
      }
    }
  }

  .step-4 {
    // padding: 15px 0 0;

    form {
      display: flex;

      justify-content: space-between;
      align-items: stretch;

      @media (min-width: 703px) {
        height: 210px;
        flex-wrap: wrap;
      }

      .dn-vertical-input {
        height: 90px;
        font-size: 0.9em;
        @media (min-width: 703px) {
          // width: 312px;
        }

        &.captcha-wrapper {
          height: auto;
          margin-bottom: 10px;
        }
      }

      .ng-invalid.ng-touched {
        border: 1px solid #fa023c;
      }
    }
  }

  &.mobile {
    .step-5 {
      height: calc(100% - 15px);

      .thank-you-wrapper {
        @media (min-width: 561px) {
          padding: 0 50px 0 0;
        }

        display: flex;
        align-items: center;
        padding: 0;

        >svg {
          height: 100%;
        }
      }
    }
  }

  &.desktop {
    .step-5 {
      @media (min-width: 561px) {
        .thank-you-wrapper {
          padding: 20px 50px 20px 0;
        }
      }
    }
  }

  .step-5 {
    .thank-you-row {
      display: flex;

      @media (max-width: 560px) {
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .thank-you-wrapper {
          display: flex;
          justify-content: center;
          padding: 15px;

          >svg {
            height: 80%;
            max-height: 173px;
          }
        }

        .visual-separator {
          display: flex;
          justify-content: center;

          &>div {
            border-top: 1px solid #494949;
            width: 220px;
          }
        }

        .review-submitted-text {
          padding: 50px 15px;
          text-align: center;
        }
      }

      @media (min-width: 561px) {
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        height: 100%;

        .thank-you-wrapper {
          display: flex;
          align-items: center;

          >svg {
            height: 80%;
            max-height: 173px;
          }
        }

        .visual-separator {
          display: flex;
          align-items: center;

          &>div {
            border-right: 1px solid #494949;
            max-height: 120px;
            height: 70%;
            @media (max-height: 320px) {

            }

            @media (min-height: 321px) {

            }
          }
        }

        .review-submitted-text {
          display: flex;
          align-items: center;
          padding: 15px 0 15px 50px;
        }
      }
    }
  }

  .discount-row {
    // border: 1px solid` red;
    background: black;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: row;

    svg {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }

    .discount-text {
      padding: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;

      &>.first-line {
        align-items: flex-start;
      }

      &>.second-line {
        align-items: baseline;
      }

      &>div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        white-space: nowrap;

        .discount-coupon {
          font-size: 175%;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
        }

        .percent-off {
          font-family: 'Barlow Condensed', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          font-size: 320%;
          font-weight: 600;
          position: relative;
          top: -5px;
        }

        .valid-until {
          padding: 5px 17px 5px;
          background: #fff;
          color: #000;
          border-radius: 5px;
        }

        .coupon-code {
          font-size: 140%;
          font-family: 'Open Sans', sans-serif;
          font-weight: 300;
        }

        @media (min-width: 500px) {
          .valid-until {
            font-size: 100%;
          }

          .coupon-code {
            font-size: 140%;
          }
        }

        @media (min-width: 410px) and (max-width: 499px) {
          .valid-until {
            font-size: 80%;
          }

          .coupon-code {
            font-size: 110%;
          }
        }

        @media (min-width: 360px) and (max-width: 410px) {
          .discount-coupon {
            font-size: 140%;
          }

          .percent-off {
            top: -10px;
          }

          .valid-until {
            font-size: 70%;
          }

          .coupon-code {
            font-size: 80%;
          }
        }

        @media (max-width: 360px) {
          .discount-coupon {
            font-size: 140%;
          }

          .percent-off {
            top: -10px;
            font-size: 260%;
          }

          .valid-until {
            font-size: 70%;
            padding: 5px 10px 5px;
          }

          .coupon-code {
            font-size: 80%;
          }
        }

        .coupon-code-text {
          font-weight: 600;
        }
      }
    }
  }

  .error-wrapper {
    margin-bottom: 5px;
  }

  &.mobile {
    .dn-modal-footer {
      background-color: #F3F3F3;
    }
  }

  .dn-modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;

    &.justify-flex-end {
      justify-content: flex-end;
    }

    .adaptive-cancel {
      @media (min-width: 461px) {

      }

      @media (max-width: 460px) {
        width: 150px;
      }
    }
  }

  .dots-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px;
  }

  .submit-review-dots {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .submit-review-dots > li {
    background: #C4C4C4;
    width: 14px;
    height: 14px;
    display: block;
    margin: 0 7px 0;
    border-radius: 7px;
  }

  .submit-review-dots > li.active {
    background: #494949;
  }

  .review-dots-body {
    @media (min-width: 461px) {
      display: none;
    }
  }

  .review-dots-footer {
    @media (min-width: 461px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 460px) {
      display: none;
    }
  }

  .footer-text {
    width: 150px;
  }

  @media (max-width: 320px) {
    .scaled-captcha {
      transform: scale(0.86);
      left: -18px;
      position: relative;
    }
  }

  .continue-shopping-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;

    @media (max-height: 320px) {
      flex-direction: row;
      .continue-shopping-text {
        margin-right: 15px;
      }
    }
    @media (min-height: 321px) {
      .continue-shopping-text {
        margin-bottom: 20px;
      }
    }

    .continue-shopping-text {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      &> div {
        white-space: nowrap;
      }

      @media (max-width: 374px) {
        font-size: 10px;
      }

      @media (min-width: 374px) {
        font-size: 12px;
      }
    }

    .continue-shopping-button {
      color: #040404;
      display: block;
      cursor: pointer;
      border: 1px solid #040404;
      padding: 10px 15px 10px;
    }
  }
}
