@import './dn-common';
@import './dn-modal-window';

@mixin rating-vertical-sort {
  .rate-1 {
    order: 4;
  }
  .rate-2 {
    order: 2;
  }
  .rate-3 {
    order: 5;
  }
  .rate-4 {
    order: 3;
  }
  .rate-5 {
    order: 1;
  }
}

.submit-review {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;

  .fa-star {
    color: #c4c4c4;
  }
  .fa-star.active {
    color: #F3DB04;
  }

  &.dn-modal-window {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    &.mobile {
      height: 100vh;
      width: 100%;
    }
  }

  .mobile-header {
    display: block;
    font-weight: bold;
    padding: 0 0 10px;
  }
  
  .dn-modal-body {
    padding: 15px 25px 0;
    flex-grow: 2;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  &.mobile {
    .step-1 {
      height: 100%;

      .rate-btn {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        font-size: 120%;
      }

      @media (max-width: 560px) {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        justify-content: stretch;

        .rate-btn {
          width: 100%;
          margin: 5% 0 5%;
        }
      }

      @media (min-width: 561px) {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .rate-btn {
          width: 47%;
          font-size: 3vw;
        }

        @include rating-vertical-sort;
      }
    }
  }

  &.desktop {
    .step-1 {
      display: flex;
      flex-direction: row;
      padding: 0 10px 10px 10px;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;

      .rate-btn {
        width: 47%;
      }
      
      @media (min-width: 701px) {
        height: 210px;
      }

      @media (max-width: 510px) {
        .rate-btn {
          width: 100%;
        }
      }

      @media (min-width: 510px) {
        @include rating-vertical-sort;
      }
    }
  }

  .step-1 {
    .rate-btn {
      padding: 5px 0 5px 25px;
      background: #fff;
      margin: 10px 0 10px;
      min-width: 220px;
      color: #494949;
      cursor: pointer;
      border: 2px solid transparent;
      box-shadow: 0px 0px 8px rgba(73, 73, 73, 0.5);
      border-radius: 5px;
      display: flex;
      align-items: center;
    }

    .rate-btn:hover, .rate-btn.rate-btn-selected {
      border: 2px solid;
      text-shadow:0px 0px 1px black;
      color: black;
    }
  }
  
  
  .step-2 {
    padding: 10px 10px 0 10px;
    margin-bottom: 15px;
    flex-grow: 2;
    
    .upload-area {
      background: #F9F9F9;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      border: 2px solid transparent;

      .upload-icon {
        display: block;
      }

      .upload-text {
        margin: 10px 0 10px;
        font-size: 0.8em;
        font-weight: bold;
      }

      .upload-btn {
        margin: 5px 0;
        padding: 5px 25px;
        background: #c4c4c4;
        font-size: 0.9em;
      }

      &:hover {
        border: 2px dashed #c4c4c4;
      }

      .chosen-photo-txt {
        font-size: 0.9em;
        color: #494949;
      }
    }
  }

  &.desktop {
    .step-2 {
      height: 200px;
    }
  }

  .step-3 {
    padding: 10px 10px 0 10px;
    margin-bottom: 15px;
    flex-grow: 2;

    textarea {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      box-shadow: 0px 0px 8px rgba(73, 73, 73, 0.5);
      padding: 30px;
    }
  }

  &.desktop {
    .step-3 {
      height: 200px;
    }
  }

  &.desktop {
    .step-4 {
      form {
        flex-direction: column;

        @media (min-width: 703px) {
          height: 210px;
          flex-wrap: wrap;

          .column-1 {
            width: 280px;
            margin-right: 40px;
          }

          .column-2 {
            width: 300px;
          }
        }

        @media (max-width: 703px) {

        }
      }
    }
  }

  &.mobile {
    .step-4 {
      form {
        flex-direction: row;
        
        @media (min-width: 703px) {
          justify-content: space-between;

          .column-1 {
            width: 45%;
          }

          .column-2 {
            min-width: 300px;
            width: 45%;
          }
        }

        @media (max-width: 630px) {
          flex-direction: column;
        }
      }
    }
  }

  .step-4 {
    padding: 15px 15px 0 15px;

    form {
      display: flex;
      
      justify-content: space-between;
      align-items: stretch;

      @media (min-width: 703px) {
        height: 210px;
        flex-wrap: wrap;
      }

      .dn-vertical-input {
        height: 90px;
        font-size: 0.9em;
        @media (min-width: 703px) {
          // width: 312px;
        }
        
        &.captcha-wrapper {
          height: auto;
          margin-bottom: 10px;
        }
      }

      .ng-invalid.ng-touched {
        border: 1px solid #fa023c;
      }
    }
  }

  .step-5 {
    display: flex;

    @media (max-width: 560px) {
      flex-direction: column;
      justify-content: center;
      height: 100%;

      .thank-you-wrapper {
        display: flex;
        justify-content: center;
        padding: 15px;

        >svg {
          height: 80%;
          max-height: 173px;
        }
      }

      .visual-separator {
        display: flex;
        justify-content: center;

        &>div {
          border-top: 1px solid #494949;
          width: 220px;
        }
      }

      .review-submitted-text {
        padding: 50px 15px;
        text-align: center;
      }
    }

    @media (min-width: 561px) {
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      height: 100%;

      .thank-you-wrapper {
        display: flex;
        align-items: center;
        padding: 15px 50px 15px 0;

        >svg {
          height: 80%;
          max-height: 173px;
        }
      }

      .visual-separator {
        display: flex;
        align-items: center;

        &>div {
          border-right: 1px solid #494949;
          height: 120px;
        }
      }

      .review-submitted-text {
        display: flex;
        align-items: center;
        padding: 15px 0 15px 50px;
      }
    }
  }

  .error-wrapper {
    height: 24px;
  }
  
  .dn-modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .dots-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px;
  }

  .submit-review-dots {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .submit-review-dots > li {
    background: #C4C4C4;
    width: 14px;
    height: 14px;
    display: block;
    margin: 0 7px 0;
    border-radius: 7px;
  }
  
  .submit-review-dots > li.active {
    background: #494949;
  }

  .review-dots-body {
    @media (min-width: 461px) {
      display: none;
    }
  }

  .review-dots-footer {
    @media (min-width: 461px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 460px) {
      display: none;
    }    
  }

  .footer-text {
    width: 150px;
  }

  @media (max-width: 320px) {
    .scaled-captcha {
      transform: scale(0.86);
      left: -18px;
      position: relative;
    }
  }
}
